<div *ngIf="sqlTemplates">
  <h3>Generated SQL for Table: {{ tableName }}</h3>

  <div
    *ngFor="let template of sqlTemplates | keyvalue"
    class="sql-query-container"
  >
    <div class="sql-template">
      <div class="query-header">
        <h4 class="query-title">{{ template.key | uppercase }} Query:</h4>
        <button (click)="copyToClipboard(template.value)" class="copy-button">
          Copy SQL
        </button>
      </div>
      <div class="query-content">
        <code>{{ template.value }}</code>
      </div>
    </div>
  </div>
</div>

